.forgot-password-container h2 {
  color: #183153;
  padding-top: 2rem;
}
.forgot-password-container span {
  background-color: #74c0fc;
  border: none;
  width: 8.5rem;
  padding: 0.45rem 2rem;
  border-radius: 2rem;
  color: #183153;
  margin: 1rem 0 1.5rem 0;
}
.forgot-password-container span:hover {
  background-color: #63e6be;
  cursor: pointer;
}
