.phoenix-config-container {
  width: 100vw;
  height: auto;
  margin: 0 auto;
}
.phoenix-config-container h2 {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 3rem;
}

.phoenix-config-container button {
  border: #74c0fc solid 0.2rem;
  background: none;
  width: 10rem;
  border-radius: 2rem;
  color: #74c0fc;
  margin: 1rem 0 1.5rem 0;
}

.phoenix-config-container button:hover {
  border: #63e6be solid 0.2rem;
  color: #63e6be;
}

.form-create-site button:hover {
  background-color: #63e6be;
  cursor: pointer;
}

.create-site-container,
.create-user-container {
  width: 100%;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: solid #183153 0.015rem;
}
.create-site-container div,
.create-user-container div {
  width: 50%;
  height: auto;
}
.create-site-container button,
.create-user-container button {
  background: none;
  width: 1rem;
  height: auto;
  padding: 0;
  margin-right: 0.45rem;
  border: none;
}
.create-site-container button:hover,
.create-user-container button:hover {
  transform: scale(1.1);
}

.site-name-content a,
.create-user-container a {
  text-decoration: none;
  color: #183153;
}
.site-name-content a:hover,
.create-user-container a:hover {
  color: #74c0fc;
}
.form-create-site,
.form-create-user {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.form-create-site input {
  width: 100%;
  padding-left: 0.5rem;
}

.form-create-user input {
  width: 100%;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.form-create-site button,
.form-create-user button {
  width: 10rem;
  margin: 0.5rem 0;
  background-color: #74c0fc;
  border: none;
  padding: 0.45rem 2rem;
  border-radius: 2rem;
  color: #183153;
}
.select-section select {
  width: 100%;
  height: 1.85rem;
  color: #6c757d;
  padding-left: 0.25rem;
}

.css-1s2u09g-control {
  text-align: left;
}

.delete-site-btn:hover {
  background: none !important;
}
.delete-site-popup {
  background-color: rgb(255, 255, 255, 0.85);
}
.modal {
  padding: none !important;
}
.modal-content {
  background-color: #162e50 !important;
  color: white !important;
  text-align: center !important;
  width: 85% !important;
  margin: 0 auto;
}
.modal-header,
.modal-title {
  width: 100%;
  border: none !important;
}
button.btn-close {
  background-color: white !important;
  width: 0.65rem !important;
  height: 0.65rem !important;
}
.modal-body {
  padding: 0 !important;
  margin-top: -1rem !important;
}
.modal-body input {
  width: 80%;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  margin-top: -1rem;
}

.modal-body p:last-child {
  font-style: italic;
  font-size: 0.9rem;
  color: #cd3700;
  padding-top: 0.5rem;
}
.modal-footer {
  border: none !important;
  margin-bottom: 0.5rem;
}
.modal-footer button {
  background-color: #cd3700;
  border: none;
  display: block !important;
  margin: 0 auto;
  width: 12rem;
  border-radius: 1.563rem;
  margin-top: -1rem;
  font-weight: 600;
}
.modal-footer button:hover {
  background-color: white !important;
  color: #cd3700 !important;
}
button.disable-btn {
  background-color: rgb(80, 80, 80);
  color: #6b6b6b;
}
button.disable-btn:hover {
  background-color: rgb(80, 80, 80);
  color: #6b6b6b;
  cursor: help;
}
