.phoenix-config-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.phoenix-config-container h2 {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 3rem;
}

.phoenix-config-container button {
  background-color: #74c0fc;
  border: none;
  width: 12rem;
  padding: 0.45rem 2rem;
  border-radius: 2rem;
  color: #183153;
  margin: 1rem 0 1.5rem 0;
}
.phoenix-config-container button:hover {
  background-color: #63e6be;
  cursor: pointer;
}
.phoenix-config-container input {
  width: 80%;
  height: auto;
}
.create-site-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: solid #183153 0.015rem;
}
.create-site-container div {
  width: 50%;
  height: auto;
}

.create-site-container button {
  background: none;
  width: 1rem;
  height: auto;
  padding: 0;
  margin-right: 0.45rem;
}
.create-site-container button:last-child {
  background: none;
  width: 0.85rem;
  height: auto;
}
.site-name-content a {
  text-decoration: none;
  color: #183153;
}
.site-name-content a:hover {
  color: #74c0fc;
}
