.navbar-container {
  background-color: #183153;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  /* justify-content: space-evenly; */
  align-items: center;
  width: 100vw;
}
.navbar-container a {
  text-decoration: none;
  color: #f0f1f3;
  font-weight: 700;
  width: 3.5rem;
  margin-right: 0.75rem;
}
.navbar-container a:hover {
  color: #63e6be;
}
.navbar-container span {
  border: solid #74c0fc 1px;
  padding: 0.35rem 1rem;
  border-radius: 2rem;
  color: #74c0fc;
}
.navbar-container span:hover {
  border: solid #63e6be 1px;
  color: #63e6be;
}
